
body {
  background-color: #042025;;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-self: center;
  
}

mi-footer {
  display: block;
  margin: 1rem 0;
  font-size: small;
  text-align: center;
}