.main {
    margin: 40px;
    padding-top: 100px;
}

h1 {
    color: #ff073a;
    text-align: center;
}

.main ul {
    list-style: none;
    padding: 0;
    margin-left: 10px;
}

.main ul li::before {
    font-family: fontawesome;
    content: "\f120";
    padding-right: 8px;
    color: #0ff72e;
    font-weight: 900;
    line-height: 1cm;
    font-size: 50%;
}

.comando1 {
    color: #ff2c87;
    font-weight: 900;
}

.comando2 {
    color: #00ffff;
    font-weight: 900;
}
.comando3 {
    color: #02fda4;
    font-weight: 900;
}
.pasos {
    color: #fdf902;
    font-weight: 900;
}
.main ul li ol li {
    list-style: none;
}

.main ul li ol li::before {
    content: "-";
    font-weight: 600;
    letter-spacing: 0.25em;
    font-size: 120%;
}

.subcomando {
    color: #000;
}

.linux {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    margin-bottom: 50px;
    border-radius: 50%;
}


.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

@media (max-width: 991px) {
    .main {
        margin: 15px;
        padding-top: 100px;
    }
    .comando2 {
        font-weight: 700;
    }
    .image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        transition: transform .2s;
    }
    
    .image:hover {
        -ms-transform: scale(2);
        -webkit-transform: scale(2);
        transform: scale(2);
    }
}